/// This is the place for all the styling that relates to component 1 and nothing else

html, body {
    width: 100%;
    height: 100%;
}

article {
    height: 100%;
    &.hide {
        display: none;
    }
}

.main {
    section {
        min-height: 100vh;
        width: 33%;
        float: left;
        padding: 0 2em;
    }
    .StaffScreen {
        border-right: 1px solid #222;
//        background-color: aqua;
    }
}

@keyframes phoneFade {
    0% {opacity: 0;}
    3% {opacity: 1;}
    97% {opacity: 1;}
    100% {opacity: 0;}
}

.phone {
    width: 100%;
    height: 0;
    padding-top: 150%;
    background-color: black;
    position: relative;
    &:before {
        content: "";
        background-position: center top;
        background-size: cover;
        background-color: black;
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        .endUserScreen0 & {
            background-image: url('../../img/user1.png');
        }
        .endUserScreen1 & {
            background-image: url('../../img/user2.png');
        }
//        animation: phoneFade 10s;
    }
    &.user1-aptLight {
        &:before {
            background-image: url('../../img/user1-aptLight.png');

        }
    }
    &.user1-aptLight-fix {
    //    background-blend-mode: transparent;
        &:before {
            background-image: url('../../img/user1-aptLight-fix.png');

        }
    }
    &.user2-flood {
        &:before {
            background-image: url('../../img/user2-flood.png');

        }
    }
    &.user2-flood-fix {
        &:before {
            background-image: url('../../img/user2-flood-fix.png');

        }
    }
}
 


.foyerLight {
    .endUserScreen0 & {
        &:before {
            background-image: url('../../img/user1-mainLight.png');
            
        }
    }
    .endUserScreen1 & {
        &:before {
            background-image: url('../../img/user2-mainLight.png');
            
        }
    }
}

.foyerLight-fix {
    .endUserScreen0 & {
        &:before {
            background-image: url('../../img/user1-mainLight-fix.png');
            
        }

    }
    .endUserScreen1 & {
        &:before {
            background-image: url('../../img/user2-mainLight-fix.png');
        }
        
    }
    
}

@keyframes staffAlert {
    0% {background-color: #9a1616;}
    50% {background-color: #ea2323;}
    100% {background-color: #9a1616;}
}

.StaffScreen ul {
    @extend %ulReset;
    background-color: rgb(150, 150, 150);
    padding: .6em;
    border-radius: .5em;
    border: 1.4em solid black;
    min-height: 25em;
    li {
        background-color: #1f741f;
        color: white;
        padding: .5em .8em;
        font-family: monospace;
        &:after {
              content: "past";
              float: right;
              font-size: .6em;
              margin-top: 0.7em;
              color: rgba(255,255,255,.7);
        }
        &.alert {
            background-color: #9a1616;
            &:last-child {
                animation: staffAlert 1s infinite;
            }
        }
        &:last-child {
            &:after {
                content: "current";
            }
            
        }
    }
}
